<app-toolbar></app-toolbar>
<div>
  <span class="">
      <mat-card class="local-weather-container">
          <mat-card-content>
              <h3>{{weather.cityName}}</h3>
              <mat-list class="list-local-weather">
                  <mat-list-item> <strong> Temperature</strong> : {{weather.currentTemperature}}F </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <strong>Felt Temperature</strong> : {{weather.feelsLike}}F </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <strong>Local Time</strong> : {{weather.localTime}} </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item> <strong>Description</strong> : {{weather.description}}<span>
                      </span>
                    </mat-list-item>
                 </mat-list>
          </mat-card-content>
        </mat-card>
  </span>
</div>
